# [LEGALST-123] Lab 04: Probability Distributions, Bootstrap, and Confidence Intervals

In [17]:
from datascience import *
from collections import Counter
import numpy as np
import pandas as pd
from scipy import stats
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Introduction
In this lab, we aim to prepare students for prediction exercises in PSET 1 and PSET 2 by focusing on several key aspects of exploratory data analysis (EDA) and data manipulation using the Nashville police stops dataset. The objectives of this lab are as follows:

**Data Cleaning**:
(Continuing from Lab 3): We will continue the data cleaning process by addressing issues not covered in Lab 3. This includes handling missing values through imputation or dropping as appropriate. During the data cleaning process, we will refer to simple plot exercises, such as scatter plots, box plots, and histograms, to make data-driven decisions.

**Summary Statistics**:
We will compute and display summary statistics for relevant columns, particularly 'age' and 'year.' This includes calculating the mean and median for these columns and explaining their significance in the context of the dataset. Visualizations: We will create visualizations, including histograms for 'column1' and 'column2' columns, scatter plots to visualize relationships between specific variables, and box plots to display data distributions. Interpretations of these visualizations will be provided.

**Aggregating Data**:
We will introduce data aggregation using Python libraries like pandas. Techniques such as grouping data using the groupby function in pandas will be explored, along with examples of aggregating data to gain insights. We will also explain the use of pivot tables in pandas for data aggregation.

**Time Series Analysis**:
Introduce time series data analysis using a specific example from the dataset. We will analyze and visualize police stop trends over time, such as monthly or yearly trends, using time-specific data to demonstrate aggregation techniques. Line plots will be created to visualize time series data.

## Data Cleaning (Continuing from Lab 3)

Load the Nashville police stops dataset.


Continue data cleaning by addressing issues not covered in Lab 3.


Handle missing values by either imputation or dropping, as appropriate.


Referring to simple plot exercises (scatter, box, histogram) during the data cleaning process.
Describe the dataset and its columns.


Provide explanations for data cleaning decisions, emphasizing their impact on visualization and analysis.

In [25]:
# load the data
user = "suminpark" #insert your user name
path = "/Users/" + user +  "/Documents/GitHub/Modules/Legalst-123/labs/data"
stops = pd.read_csv(path + "/nashville.txt", index_col = 0)
stops.head()

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6,8,15,16,17,22,23,24,25,29,30,31,32,33,35,36,37,38,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,date,time,location,lat,lng,precinct,reporting_area,zone,subject_age,subject_race,...,raw_traffic_citation_issued,raw_misd_state_citation_issued,raw_suspect_ethnicity,raw_driver_searched,raw_passenger_searched,raw_search_consent,raw_search_arrest,raw_search_warrant,raw_search_inventory,raw_search_plain_view
raw_row_number,,,,,,,,,,,,,,,,,,,,,
232947,2010-10-10,NaN,"DOMINICAN DR & ROSA L PARKS BLVD, NASHVILLE, T...",36.187925,-86.798519,6.0,4403.0,611.0,27.0,black,...,False,NaN,N,False,False,False,False,False,False,False
237161,2010-10-10,36000.0,"1122 LEBANON PIKE, NASHVILLE, TN, 37210",36.155521,-86.735902,5.0,9035.0,513.0,18.0,white,...,True,NaN,N,False,False,False,False,False,False,False
232902,2010-10-10,36000.0,"898 DAVIDSON DR, , TN, 37205",36.117420,-86.895593,1.0,5005.0,121.0,52.0,white,...,False,NaN,N,False,False,False,False,False,False,False
233219,2010-10-10,79200.0,"MURFREESBORO PIKE & NASHBORO BLVD, ANTIOCH, TN...",36.086799,-86.648581,3.0,8891.0,325.0,25.0,white,...,False,NaN,N,False,False,False,False,False,False,False
232780,2010-10-10,3600.0,"BUCHANAN ST, NORTH, TN, 37208",36.180038,-86.809109,NaN,NaN,NaN,21.0,black,...,False,NaN,N,True,True,False,False,False,False,False

## Summary Statistics

Compute and display summary statistics for relevant columns, such as 'age' and 'year.'

Calculate the mean and median for these columns.

Explain the significance of mean and median in the context of the dataset.

## Exploratory Data Analysis

### 1. Visualizations

#### **1.1 Histograms:** Create histograms for 'column1' and 'column2' columns.

Interpret the distributions of these variables.

In [30]:
# HISTOGRAM CODE

#### **1.2 Scatter Plots:** Generate sccatter plots to visualize relationships between specific variables.

Discuss any insights gained from scatter plots.

In [29]:
# SCATTER CODE

#### 1.3 **Box Plots:** Create a box plots for relevant columns.

Explain the concept of box plots and their use in displaying data distributions. Interpret the box plots and identify outliers if present. What is the shape of the plot?

In [35]:
# BOX CODE

### 2. Aggregating Data:

Introduction to aggregating data using Python libraries like pandas.

Explore techniques such as grouping data using the groupby function in pandas.

Provide examples of aggregating data to gain insights.

Explain the use of pivot tables in pandas for data aggregation

In [33]:
# HERE

### 3. Time Series Analysis: 
Introduce time series data analysis using a specific example from the dataset.

Analyze and visualize police stop trends over time (e.g., monthly or yearly).

Use time-specific data to demonstrate aggregation techniques.

Create line plots to visualize time series data.

In [32]:
# HERE

## Conclusion

Summarize key findings from the data analysis. Discuss insights or patterns observed during the analysis.

Reflect on the importance of data cleaning, summary statistics, visualization, and data aggregation in exploratory data analysis.

In [31]:
# HERE

## References

Include references or data sources used in the lab, such as the Stanford traffic stop data library and relevant documents related to Nashville policing practices for traffic stops.