# [LEGALST-123] Lab 03: Numpy to Pandas & DataFrame Operations

In [ ]:
import datascience
from datascience import *
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import random
from datetime import datetime

# Introduction
In this lab, we'll be emphasizing a shift from the `datascience` package utilized in Data 8 to the `pandas` library, a more common and advanced data analysis and science library. We'll be using a sample of a dataset about Nashville police stops for this lab. The objectives of this lab are as follows:

- **Understanding the Equivalent Methods of `datascience` in `pandas`**: 
    - We will be reviewing some of the major functionalities of the `datascience` package you learned about in Data 8 and comparing them to the similar methods in `pandas`. Much of this will revolve around reading in data from a CSV file, filtering rows based on certain conditions, and selecting specific rows or column to increase readability in our data analysis.

- **Dealing with Null Values**:
    - Missing values are very common in real-world datasets and can severly impact our ability to effectively perform data analysis, so we'll be using our new skills in the `pandas` library to deal with these missing values in our data.

- **Visualizations**: 
    - We'll be introducing some simple visualizations that you can create with the `matplotlib.pyplot` library. In the next lab, we'll build on some of these basic techniques to learn how to make more advanced ones and stylize them to look nicer.

<br>

<hr style="border: 1px solid #fdb515;" />

<br>

## From `NumPy` and `datascience` to `pandas`

### `pandas` Data Structures Overview: DataFrames, Series, Indices

In Data 8, you learned to represent data with columns and rows in a Table object through the `datascience package`. You can get a refresher on the major functions and methods via the [Data 8 Python reference here](https://www.data8.org/fa23/reference/).

`pandas` is a Python library that is commonly used for data science in industry. We will primarily be using `pandas` in the Python assignments for this class. 

The `pandas` version of a Table is a DataFrame. You can start familiarizing yourself with the [things you can do with a DataFrame here](https://pandas.pydata.org/docs/reference/frame.html).

**How is a DataFrame different from a Table?**
- A column in a DataFrame is a Series, while a column in a Table is an array.
- A DataFrame has an index (represented in bold on its left side).

**What is a Series?**
- A one-dimensional array-like object that contains:
    - a sequence of values of the same type
    - a sequence of labels (called the index)
- It is different from an array because it has an explicitly defined index associated with the values, whereas an array has an implicitly defined integer index associated with the values.

**What is an index?**
- Indices (plural of index) are row labels.
- They can be numeric or non-numeric.
- Indices can act as a row number, where all of the values are unique.
- They can also be named and not unique (for example, if your index represents a year or a name that has multiple rows in the DataFrame).

### Data Exploration and Manipulation

In this section, we'll begin taking a look at the methods that `pandas` offers for performing operations for data exploration and manipulation. In the exercises for this section, we will be performing operations in `NumPy` and `datascience`, along with `pandas`, to illustrate the translation between the two ways of performing data analysis. The section is outlined as follows:

1. Reading in data from a CSV file
1. Finding number of rows and columns
1. Indexing
1. Filtering
1. Grouping

#### 1. Reading in data from a CSV file
- `datascience` uses `Table.read_table`.
- `pandas` uses `pd.read_csv`.

**Disclaimer**: The Nashville police stop dataset is very large. If we try to load in the full dataset in this notebook as a `datascience` Table and a `pandas` dataframe, our kernel will crash. Therefore, for this notebook, we are loading in just a sample of the dataset.

In [ ]:
datascience_stops = Table.read_table("https://github.com/ds-modules/data/raw/main/LS123_nashville_sample.csv", index_col=0)
datascience_stops.show(5)

In [ ]:
pandas_stops = pd.read_csv("https://github.com/ds-modules/data/raw/main/LS123_nashville_sample.csv", index_col=0)
pandas_stops.head(5)

#### 2. Finding number of rows and columns
Let's remind ourselves of how we found the number of rows and columns in `datascience`:
- `datascience` uses `tbl.num_rows` to find the number of rows and `tbl.num_columns`to find the number of columns.

In [ ]:
# Number of rows in Table
datascience_stops.num_rows

In [ ]:
# Number of columns in Table
datascience_stops.num_columns

Now, let's do this with `pandas`.

**Question 1:** Looking at the reference sheet, what can we do to return the number of rows and columns of the DataFrame?

Note that unlike `datascience`, `pandas` doesn't have a specific function that returns the number of rows or number of columns by itself. There is simply a method that returns the number of rows and column as a pair!

In [ ]:
# YOUR CODE HERE

**Question 2:** Since it returns a tuple (i.e. the pair of two numbers above), how would you extract the number of rows and columns? Try it out yourself.

In [ ]:
# YOUR CODE HERE
num_rows = ...
num_columns = ...
print("Number of rows: ", num_rows, "Number of columns: ", num_columns)

#### 3. Indexing
- For `datascience` Tables:
    - Row indexing: `tbl.take(row_indices)`.
    - Column indexing: `tbl.column("column_name_or_index")` and `tbl.select("column_name_or_index")`.

- For `pandas` DataFrames:
    - Label-based extractor for columns and rows: `df.loc[row_labels, "column_labels"]`.
    - Index-based extractor for columns and rows: `.iloc[row_integers, column_integers]`.
    - Context-based extraction `[ ]`.

The following three cells are examples of `.take()` and `.column()` in the `datascience` package.

In [ ]:
# Extracting the second row of the Table.
# This gives us a new table with just the single row that we selected.
datascience_stops.take(2)

In [ ]:
# Extracting the first through fifth rows of the Table.
# This gives us a new table with just the first five rows that we selected.
datascience_stops.take(np.arange(0, 3))

In [ ]:
# This gives us a copy of the Table with only the column we selected.
datascience_stops.select("location")

Now, let's see an example of how we get specific rows and columns within a DataFrame:

The `.loc[]` method lets us extract data with **specific column or index labels**. We can extract specific rows and columns by passing in lists to the row and column arguments.

In [ ]:
# Extracting rows at indices 1, 3, and 5 with only the "location" and "subject_age" columns.
# These are list arguments to .loc[].
pandas_stops.loc[[1, 3, 5], ["location", "subject_age"]]

If we wanted to select a sequential subset of rows or columns, we can also use slicing. Note that slicing is inclusive when using `.loc[]`, meaning that both the starting and ending rows/columns are included in our slice.

An example of slicing would look like this: `pandas_stops.iloc[starting_row:ending_row, "starting_col":"ending_col"]`.

**Question 3:** Using `.loc[]`, filter the table so that you only have rows 1, 2, 3, 4, 5 and columns starting at `"date"` through `"location"`.

In [ ]:
# YOUR CODE HERE

The examples above all selected multiple rows and columns, but we could also use `.loc[]` to select a single row or column.

**Question 4:** Just like you did above, extract rows 1 through 5, but this time with only the `"location"` column.

In [ ]:
# YOUR CODE HERE

As you may have noticed after running the previous cell, when we pass in only a single column name into `.loc[]`, it returns a Series, not a DataFrame -- this is why the output doesn't look as nice. A Series is a one-dimensional array-like object that contains:
- a sequence of values of the same type
- a sequence of labels (called the index).

**Note:** If you want the above output to look nicer by returning it as a DataFrame instead of a Series, try putting another set of square brackets [ ] around the `"location"` column!

If we want to extract all rows or all columns, we use a colon:

In [ ]:
# All rows for only the columns "location" and "subject age"
pandas_stops.loc[:, ["location", "subject_age"]]

The `.iloc[]` method lets us specify the **integers of rows and columns** we wish to extract. This means we are extracting the data according to its *position* in the DataFrame. Like `.loc[]`, we can pass in a list, a slice, or a single value. In the following cell, we start with lists:

In [ ]:
# Extracting the rows at indices 1, 2, and 3; and the columns at indices 0, 1, and 2
pandas_stops.iloc[[1, 2, 3], [0, 1, 2]]

**Question 5:** Now, still using `.iloc[]`, return the same DataFrame as above, **but without using any lists**.

**Hint 1:** Remember that just like with `.loc[]`, you can do slicing in `.iloc[]`!

**Hint 2:** Unlike `.loc[]`, `.iloc[]` is right-exclusive. This means that if you slice rows `0:5`, the row at index 5 will not be included! Only the rows at indices 0 through 4 will.

In [ ]:
# YOUR CODE HERE

We can pass in single values into `.iloc[]`, which again returns a Series (not a DataFrame).

In [ ]:
# Extracting the rows at positions 1, 2, and 3; and just the column at position 3.
pandas_stops.iloc[[1,2,3], 3]

In [ ]:
# Extracting a singular value by selecting only the row at position 1 and only the column at position 1.
pandas_stops.iloc[1, 1]

`[ ]` is context-dependent. Unlike `.loc[]` (which selects items by label, with the first argument being rows and the second argument being columns) and `.iloc[]` (which selects items by integer, with the first argument being rows and the second argument being columns), **`[ ]` only takes ONE argument.**

One possible argument can be a slice of row numbers. This is like `datascience`'s `tbl.take()` method.

**Note that it is right-exclusive.**

In [ ]:
# Grabbing rows 1 through 3
pandas_stops[1:4]

The argument can also be a list of column labels (with all rows kept). This is like `datascience`'s `tbl.select()` method.

In [ ]:
pandas_stops[["date", "time", "location"]]

The argument can also be a single column, which returns a Series. This is like `datascience`'s `tbl.column()` method.

In [ ]:
pandas_stops["date"]

#### 4. Filtering

To filter a table such that we only keep certain values based on a given condition:
- `datascience` uses `tbl.where` with a predicate (i.e. `are.below(x)`, `are.between_or_equal_to(x, y)`, etc.).
- There are multiple ways to filter a `pandas` DataFrame. We could use the `.loc[]` and `.iloc[]` functions above, but some easier methods that we'll explore below are using brackets (`df[df["column_name"] condition`) or the `df.query('column_name condition')` function.

In the following cells, we review some examples of using the `tbl.where()` method from `datascience`. For a full list of the `are` predicates that you can use with this method, [take a look at the reference sheet here.](https://www.data8.org/fa23/reference/)

In [ ]:
# Return a copy of the Table with only the stops where the person was older than 35.
datascience_stops.where("subject_age", are.above(35))

Now, let's see how we can do this type of filtering in `pandas`:

*   We can use brackets to filter a DataFrame on a certain condition. Available operators are == (equal), != (not equal to), >, >=, <, and <=.
*   For instance, `df[df["column_name"] condition]` will return a filtered version of the DataFrame with only the rows that satisfy the condition.

In [ ]:
# Return a DataFrame with only the stops where the person was older than 35,
# using brackets: df[df["column_name"] condition]
filtered = pandas_stops[pandas_stops["subject_age"] > 35]
filtered.head(3)

To filter by multiple conditions, we can use the "&" symbol between conditional statements. **Make sure to put the conditional statements in parentheses; otherwise you'll receive an error.**

**Question 6:** Filter the DataFrame so that it has only the stops where the person was older than 35 and was white.

In [ ]:
# YOUR CODE HERE
filtered = ... 
filtered.head(5)

We can also use the `df.query()` function to do the same things as above. We put everything in quotes inside of the query function.

In [ ]:
# Filtering the dataframe with only the stops where the person was older than 35, using the query function
filtered = pandas_stops.query("subject_age > 35")
filtered.head()

#### 5. Grouping

To group rows by unique values or combinations of values:
- `datascience` uses `tbl.group("column_or_columns", function)`.
    - By default, the function used is count (if nothing else is passed in).
- `pandas` uses `df.groupby("column_name").function()`.

[Here's an additional resource](https://www.data8.org/interactive_table_functions/) from Data 8 for understanding how grouping (as well as pivoting) works!

In [ ]:
# Grouping the table by race (gives us a table that counts the number of stops for each precinct by defualt)
ds_race_grouped = datascience_stops.group("subject_race")
ds_race_grouped

In [ ]:
# Note: to sort a table, we use tbl.sort("column_name", descending = True/False)
ds_race_sorted = ds_race_grouped.sort("count", descending = True)
ds_race_sorted

Now let's try grouping in `pandas`:

In [ ]:
# Grouping the DataFrame by "subject_race"
race_pandas_series = pandas_stops.groupby("subject_race").size()
race_pandas_series

Notice that it returns a Series. To convert the returned series into a DataFrame, we can use the `.to_frame()` method. We also can also rename this column to `"Count"` using `.rename()`. We pass a dictionary into the `.rename()` method of the format: {column_index: "new_name"}.

In [ ]:
race_grouped_frame = race_pandas_series.to_frame().rename({0: "Count"}, axis = 1)
race_grouped_frame

You may notice that the format above looks a bit strange. By default, the `.to_frame()` method is setting the grouped column as the index of our DataFrame. If we don't want this, we can use the `.reset_index()` method.

In [ ]:
race_grouped_frame = race_grouped_frame.reset_index()
race_grouped_frame

**Question 7:** Sort the above DataFrame based on the `"Count"` column in descending order.

**Hint:** To sort a DataFrame, we can use `df.sort_values("column_name", ascending = True/False)`.

In [ ]:
# YOUR CODE HERE
race_grouped_frame = ...
race_grouped_frame

<br>

<hr style="border: 1px solid #fdb515;" />

<br>

## Null (NaN) values in Pandas

Now that we've learned how to perform basic operations in pandas, we're going to learn how to handle null / missing values.

Let's begin by examining the original DataFrame:

In [ ]:
pandas_stops.head()

Upon a closer inspection, we can see that columns like `"precinct"`, `"reporting_area"`, `"zone"`, `"raw_misd_state_citation_issued"`, etc. contain `NaN` values.

Based on what we've learned in this lab, let's begin by identifying which columns have the highest proportion of null values.
Dealing with these columns can be challenging during analysis, so it's essential to prioritize them.

In [ ]:
# To select relevant columns, we first start by identifying columns with null values.
null_percentage = pandas_stops.isnull().sum() / len(pandas_stops)

# We're creating a DataFrame based on what we calculated above.
missing_value_df = pd.DataFrame({'proportion_null': null_percentage})

# Sorting the table based on the null percentage.
missing_value_df = missing_value_df.sort_values('proportion_null', ascending = False)
missing_value_df.head(10)

**Question 8:** It appears that some of the columns have a very high percentage of null values. To facilitate our analysis, let's fill all null values in our DataFrame with 0. Fill in the ellipsis below in order to replace these values.

**Hint:** `pandas` provides an easy function for DataFrames that can help us accomplish this task!

In [ ]:
# YOUR CODE HERE
pandas_stops = ...
pandas_stops.head()

**Question 9:** Why is replacing `NaN` (null) values with 0 important here? What happens if we have a high percentage of null values when doing our analysis?

*YOUR ANSWER HERE*

<br>

<hr style="border: 1px solid #fdb515;" />

<br>

## Visualizations

Now that we've replaced missing values with 0, we're can get some practice with creating simple visualizations. The methods we use for creating the visualizations below are the most basic forms that come directly from the `pandas` library. In the next lab, we'll learn about some more advanced ways of creating and stylizing these graphs!

### Bar Charts

Bar charts are a way for us to display the counts of different categories of our data. For example, below we use the `.value_counts()` method to create a Series of counts of rows for each race/ethnicity in our data. We can then use this Series to create a bar chart.

In [ ]:
hist_counts = pandas_stops['subject_race'].value_counts()
hist_counts

In [ ]:
hist_counts.plot(kind = 'bar')
plt.show()

### Histograms

Histograms are a way of display quantitative information. The x-axis is typically a quantitative variable of interest, and the y-axis is generally a frequency. Below we plot a basic histogram to see the distribution of ages in our data:

In [ ]:
pandas_stops.hist("subject_age");

### Line Plots

Line plots are generally used to relate two variables to one another. They can be useful when trying to infer relationships of variables over time or visualize simple regression (which we'll learn more about in a future lab).

In this case, we will use a line plot to visualize the relationship of average subject age over time.

**Note:** The first two rows in the code cell below are a bit more complex, as we're trying to create a column of just the year and then aggregate the data based on that. Don't worry too much about understanding it! Just focus on how we actually plot the line in the middle of the cell.

In [ ]:
pandas_stops['year'] = [datetime.strptime(x, '%Y-%m-%d').year for x in pandas_stops['date']]
average_per_date = pandas_stops.groupby("year").mean("age").reset_index()

# The code below plots the line
average_per_date.plot.line(x = 'year', y = 'subject_age')

# Stylizing the graph -- adding axes labels and adjusting the range of the x-axis
plt.xlabel("Date")
plt.ylabel("Age")
plt.xlim([2010, 2018])
plt.show()

### Box Plots

Box plots can be used to get a general idea of the spread of your data and are especially useful if you need to compare across two or more categories.

Let's use a box plot to compare the distributions of ages for traffic stops in which arrests were vs. were not made.

We can use the `by` keyword to determine the column we would like to group by. In this case, we group by the column `"arrest_made"`.

In [ ]:
pandas_stops.boxplot(column = 'subject_age', by = 'arrest_made');

**Question 10:** Now that we have seen how to create a box plot, try creating a box plot to visualize and compare the distribution of ages grouped by the sex of the individual stopped.

In [ ]:
# YOUR CODE HERE

<br>

<hr style="border: 1px solid #fdb515;" />

<br>

## Congrats! You've completed Lab 3.

Hopefully, you now have a better idea of how to translate the methods you learned about in Data 8 to methods within the `pandas` library, as well as one way of dealing with null values and creating simple visualizations. 

In the next lab, we'll discuss more advanced ways of dealing with null values and creating more complex visualizations.

<br>

<hr style="border: 1px solid #fdb515;" />

<br>